<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<!--Insertar libreria de AngularJS-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!--Insertar libreria de AngularJS-->
	<script src="js/lib/angular.min.js" type="text/javascript"></script>
	<title>Curso de AngularJS</title>
</head>
<body>
	<div class="container">
		<h1>{{"ng-model"}} </h1>
		<h4>en AngularJS</h4>
		<hr>
		<p>
			Su nombre: {{nombre | uppercase}}
			<br>
			<input type="text"  ng-model="nombre" class="form-control" placeholder="Ingrese su nombre" />
		</p>	

		<p>
			Seleccione el pais: {{pais}}
			<select class="form-control" ng-model=pais >
				<option value="1">Mexico</option>
				<option value="2">España</option>
				<option value="3">Noruega</option>
			</select>
		</p>

		<p>
			Seleccione sus opciones: {{opt1}}{{opt2}}
			<br>
			<input type="checkbox"  ng-model="opt1">opcion 1
			<br>
			<input type="checkbox" ng-model="opt2">opcion 2

		</p>
		<p>
			Genero:{{genero}}
			<br>
			<input type="radio" value="M" ng-model="genero">Masculino
			<br>
			<input type="radio" value="F" ng-model="genero">Femenino

		</p>

	</div>
</body>
</html>